<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">HOME</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a class="page-scroll" href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#company">Empresa</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Serviços</a>
                </li>
                <li>
                    <a class="page-scroll" href="#product">Produtos</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contato</a>
                </li>
                <% if member_signed_in? %>
                <li class="login_navbar">
                    <a class="page-scroll" href="#update">Downloads</a>
                </li>
                <% end %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if member_signed_in? %>
                <li class="login_navbar">
                    <p>Bem-Vindo <%= current_member.email %></p>
                </li>
                <li class="login_navbar">
                    <%= link_to "Logout", destroy_member_session_path, method: :delete %>
                </li>
                <% else %>
                <li class="login_navbar">
                    <%= link_to "Login", member_session_path %>
                </li>
                <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
